name: Test

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
  pull_request:


jobs:
  show-context:
    runs-on: ubuntu-latest
    steps:
      - name: Show github context object
        run: echo $JSON
        env:
          JSON: ${{ toJSON(github) }}
  
  plan:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./.github/workflows
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup tools
        uses: ./.github/actions/setup-tools
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Run terraform init
        run: terraform init
      - name: Select dev workspace
        run: terraform workspace select dev
      - name: Run terraform plan for dev
        run: terraform plan
      - name: Select prod workspace
        run: terraform workspace select prod
      - name: Run terraform plan for prod
        run: |
          terraform taint aws_dynamodb_table.test
          terraform plan
  
  after-plan:
    runs-on: ubuntu-latest
    needs:
      - plan
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Notify terraform plan result to slack for dev
        uses: kota65535/github-terraform-plan-slack-action@v1
        with:
          plan-job: plan
          plan-step: Run terraform plan for dev
          workspace: dev
          channel: github
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
      - name: Notify terraform plan result to slack for prod
        uses: kota65535/github-terraform-plan-slack-action@v1
        with:
          plan-job: plan
          plan-step: Run terraform plan for prod
          workspace: prod
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
